<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Grist Invoice</title> <!-- Ce modele permet d'afficher les données dans une facture visible dans Grist. -->
  <!-- Utilise Vue.js, moment, et l'API Grist Plugin -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
 <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
</head>

<body>
  <div id="app"> <template v-if="invoice"></template>
    <div class="top">
      <div class="block">
        <div class="header">
          <div class="meta title">Facture</div>
        </div>
        <div class="info"><span class="meta">Facture N°</span> #9283BH8475</div>
        <div class="info">
          <div class="meta date-tag">Créée le</div> 26/11/2024
        </div>
        <div class="info">
          <div class="meta date-tag">Echéance le</div> 26/12/2024
        </div>
      </div>

      <div class="supplier">
        <div v-for="business in (invoice.Invoicer ? [invoice.Invoicer] : [])"> <template
            v-if="typeof(business) === 'string'">
            <div class="address newlined">Destinataire</div>
          </template> <template v-else>
            <div class="address"> <span class="name">Nom destinataire</span><br /> {{ business.Street1 }}<br /> <template
                v-if="business.Street2"> {{ business.Street2 }}<br /> </template> {{ business.City }} {{ business.State
              }} {{ business.Zip }}<br /> <template v-if="business.Country"> {{ business.Country }}<br /> </template>
            </div> <template v-if="business.Email">
              <div class="email">{{ business.Email }}</div>
            </template> <template v-if="business.Phone">
              <div class="phone">{{ business.Phone }}</div>
            </template> <template v-if="business.Website">
              <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
            </template>
          </template> </div>
      </div>
    </div>

    <div class="les_references">
      <div class="title">Periode du 00/00/0000 au 00/00/0000</div>
      <div class="details">
        <div>M. Truc Muche</div>
        <div>12 rue de la republique</div>
        <div>75001 Paris</div>
      </div>
    </div>
    <div class="expediteur">
      <div class="title">Expediteur</div>
      <div class="details">
        <div>M. Truc Muche</div>
        <div>12 rue de la republique</div>
        <div>75001 Paris</div>
      </div>
    </div>


    <div class="destinataire">
      <div class="title">DESTINATAIRE</div>
      <div class="details">
        <div>M. Alain Truche</div>
        <div>12 rue de la republique</div>
        <div>75001 Paris</div>
      </div>
    </div>
    <table class="items"> <template v-if="!Array.isArray(invoice.Items)">
        <tr>
          <th>Description</th>
          <th class="money">Total</th>
        </tr>
        <tr>
          <td>{{ invoice.Items }}</td>
          <td class="money">{{ invoice.Total | currency }}</td>
        </tr>
      </template> <template v-else>
        <tr>
          <th>Description</th> <!-- <th class="money">Unit Price</th> <th class="number">Quantity</th> -->
          <th class="money">Total</th>
        </tr>
        <tr v-for="item in invoice.Items">
          <td>{{ item.Description }}</td>
          <!-- <td class="money">{{ item.Price | currency }}</td> <td class="number">{{ item.Quantity }}</td> -->
          <td class="money">{{ item.Total | currency }}</td>
        </tr>
      </template> </table>
    <div class="summary">
      <div class="part">
        <div class="title">Sous-total</div>
        <div class="details">{{ invoice.Subtotal | currency }}</div>
      </div>
      <div class="part">
        <div class="title">Remise</div>
        <div class="details">{{ invoice.Deduction | currency }}</div>
      </div>
      <div class="part">
        <div class="title">Taxes</div>
        <div class="details">{{ invoice.Taxes | currency }}</div>
      </div>
      <div class="total">
        <div class="title">Total</div>
        <div class="details">{{ invoice.Total | currency }}</div>
      </div>
    </div> <template v-if="invoice.Note">
      <p class="note">{{ invoice.Note }}</p>
    </template> <template v-for="help in (invoice.Help ? [invoice.Help] : [])">
      <div class="help">
        <div class="help-close"> Add <span class="column-name">Due</span> or <span class="column-name">Issued</span>
          date to hide this help. </div>
        <div class="title">Column information</div>
        <div class="details">
          <table>
            <tr v-for="group in ['recognized', 'expected', 'ignored']">
              <td class="key">{{ group }}</td>
              <td> <template v-if="group in help">
                  <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                </template> <template v-else> &mdash; </template> </td>
            </tr>
          </table> <template v-if="invoice.SuggestReferencesColumn">
            <div>For structured address and item information, add a <span class="column-name">References</span> column
              with this formula:</div>
            <div>
              <pre>RECORD(rec, expand_refs=1)</pre>
            </div>
          </template>
        </div>
      </div>
    </template>
    <div class="footer">
      <div class="thanks"> Merci! </div>
    </div>
    <div class="print"> <a href="javascript:window.print()">Imprimer</a> </div> </template>
  </div>
</body>

</html>
